@model IEnumerable<EVACart.Data.EF.Event>
@{
    ViewBag.Title = "Index";
}

<br /><br /><br />

<div>
    <h4>Events</h4>
    <hr />
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add a New Event", "Create")
    } <p>

    </p>
    @foreach (var item in Model)
    {
        <div class="l-subsection">
            <div class="l-subsection-h">
                <div class="l-subsection-hh g-html i-cf">

                    <div class="w-form contacts_form text-danger">
                        <div class="w-form-h contacts_form_form text-danger" style="color:black">

                            <br />
                            <section id="team" class="l-section">

                                <div class="l-subsection">
                                    <div class="l-subsection-h">
                                        <div class="l-subsection-hh g-html i-cf">


                                            <h2 class="highlight"><strong> Events</strong></h2>

                                            <div class="g-hr type_invisible"></div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => item.EventName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.EventName, new { htmlAttributes = new { @class = "form-control" } })

                                                    @Html.ValidationMessageFor(model => item.EventName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => item.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.Address1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => item.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.Address2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => item.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.City, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => item.State, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.State, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.State, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => item.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.Zip, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => item.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.Phone, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                       
                                            <div class="form-group">
                                                @Html.LabelFor(model => item.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => item.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => item.Image, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => item.Image, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>



                <div class="buttons" style="margin-left:45px">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArtistID }) @:|
                        @Html.ActionLink("Details", "Details", new { id = item.ArtistID })@:|
                        @Html.ActionLink("Change Status", "Delete", new { id = item.ArtistID })
                    }
                </div>
            </div>
        </div>



    }

</div>



